PORT=<your_port_number>
MONGO_URI=<your_mongodb_uri>
GOOGLE_CLIENT_ID=<your_google_client_id>
GOOGLE_CLIENT_SECRET=<your_google_client_secret>
SESSION_SECRET=<your_session_secret>
CLIENT_URL=<your_client_url>
MONGODB_USER=<your_mongodb_user>
MONGODB_USER_PW=<your_mongodb_user_password>
STOCKFISH_PATH=<path_to_stockfish_executable>
GEMINI_API_KEY=<your_gemini_api_key>